<div class="books-container">
    <div class="container-content">
        {{#each book}}
        <div class="box">
            <h3>Title: {{this.title}}</h3>
            <p>Pages: {{this.n_pages}}</p> 
        </div>
        {{/each}}
    </div>
</div>