<div class="main-container">
    <div class="container">
        <div class="intro-container">
            <h3>Welcome</h3>
            <p>Lorem ipsum dolor sit.</p>
        </div>
        
        <div class="img-container">
            <img src="/images/book-img.jpg" alt="book image">
        </div>
        
    </div>
</div>